@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

:root {
	--primary-color: hsl(0, 0%, 17%);
	--secondary-color: hsl(0, 0%, 59%);
}

html {
	font-size: 62.5%;
	box-sizing: border-box;

	@media screen and (max-width: 64em) {
		font-size: 56.25%;
	}
}

body {
	font-family: 'Rubik', sans-serif;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 2.1rem;
	overflow-x: hidden;
}

// UTILITIES
.primary-heading {
	color: #fff;
	font-size: 3.2rem;
	font-weight: 500;
	line-height: 3rem;
	margin-bottom: 3.3rem;
}

.secondary-heading {
	font-size: 1.2rem;
	font-weight: 700;
	color: var(--secondary-color);
	text-transform: uppercase;
	letter-spacing: 1.75px;
	line-height: 1.4rem;
	margin-bottom: 1.3rem;

	@media screen and (max-width: 37.5em) {
		font-size: 1rem;
		line-height: 1.2rem;
		margin-bottom: 0.7rem;
	}
}

.tertiary-heading {
	font-size: 2.6rem;
	font-weight: 500;
	line-height: 3rem;
	color: #000;

	@media screen and (max-width: 37.5em) {
		font-size: 2rem;
		line-height: 2.4rem;
	}
}

.error-text {
	color: #c21010;
	margin-top: 1rem;
	font-weight: 700;
	animation-name: moveFromTop;
	animation-timing-function: ease;
	animation-duration: 1s;
}

.loading {
	color: var(--primary-color);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@keyframes moveFromTop {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
